
<h1><%= @hola %></h1>
<% while (@i < 51) %>
   <% if (@i % 2) == 0 %>
      <h2><%= @i.to_s + @par%></h2>
      <% else %>
      <h2><%= @i.to_s + @impar %></h2>
   <% end %>
   <% @i += 1 %>
<% end %>

